@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
  
    --heading-font: 'Nunito Sans', sans-serif;
    --paragraph-font: 'Nunito Sans', sans-serif;
  
    --nav-background-color: var(--primary-color);
    --nav-link-color:#ffffff;
    --nav-hover-link-color: #e7c24f;
    --nav-hover-background-color: #381d2a;
  }
        
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  }
        
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  }

header {
  padding: 20px;
  background-color: var(--navigation-background-color);
  }

p {
  padding: 10px;
  }



  nav {
    background-color: var(--navigation-background-color);
  }
  
  nav a {
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 10px 20px;
  }
  nav a:link {
    color: var(--navigation-link-color);
  }

  nav a:visited {
    color: var(--navigation-link-color);
    }

  nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
  }